@using DbLocalizationProvider
@using Optimizely.Alloy.Cms13.Resources.Translations

@inject ILocalizationProvider LocalizationProvider
@inherits Optimizely.Alloy.Cms13.Views.AlloyPageBase<PageViewModel<Optimizely.Alloy.Cms13.Models.Pages.StartPage>>

<div class="start">
    <h1>@LocalizationProvider.GetString(() => StartPageResources.Header)</h1>
    <div epi-property="@Model.CurrentPage.MainContentArea" class="row">
        <div epi-property-item class="block" epi-on-item-rendered="OnItemRendered"/>
    </div>
</div>
