<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.2.0"  />
  <package id="Castle.Windsor" version="3.2.0"  />
  <package id="EntityFramework" version="6.1.2"  />
  <package id="EPiServer.CMS.Core" version="9.0.0"  />
  <package id="EPiServer.CMS.UI.Core" version="9.0.0"  />
  <package id="EPiServer.Framework" version="9.0.0"  />
  <package id="Microsoft.AspNet.Mvc" version="4.0.20710.0"  />
  <package id="Microsoft.AspNet.Razor" version="2.0.20710.0"  />
  <package id="Microsoft.AspNet.WebPages" version="2.0.20710.0"  />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0"  />
  <package id="Newtonsoft.Json" version="5.0.8"  />
  <package id="structuremap.web-signed" version="3.1.6.186"  />
  <package id="structuremap-signed" version="3.1.6.186"  />
</packages>