<?xml version="1.0" encoding="utf-8" ?>
<module loadFromBin="false" clientResourceRelativePath="" viewEngine="Razor" authorizationPolicy="localization-provider:admin-access"
        moduleJsonSerializerType="None" prefferedUiJsonSerializerType="Net">
    <assemblies>
        <add assembly="DbLocalizationProvider.AdminUI.EPiServer" />
    </assemblies>

    <clientModule>
        <moduleDependencies>
            <add dependency="CMS" />
        </moduleDependencies>
    </clientModule>
</module>
