@model ContentRenderingErrorModel
<div class="alert alert-error">
    <p class="heading">@string.Format(System.Globalization.CultureInfo.CurrentUICulture, LocalizationService.Current.GetString("/renderingerror/heading"), Model.ContentTypeName, Model.ContentName)</p>
    <p class="details">
        <strong>@Model.Exception.Message</strong><br/>
        @Model.Exception.StackTrace
    </p>
</div>
