@using System.Globalization
@using DbLocalizationProvider
@using DbLocalizationProvider.EPiServer.Sample
@using DbLocalizationProvider.EPiServer.Sample.Infrastructure
@using DbLocalizationProvider.EPiServer.Sample.Resources
@using EPiServer.Framework.Localization
@model DbLocalizationProvider.EPiServer.Sample.Models.Pages.StartPage

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>CurrentUICulture: @CultureInfo.CurrentUICulture.Name</div>
<div>MessageWithFormatArguments: @LocalizationService.Current.GetString(() => Class1.MessageWithFormatArguments, "$$$")</div>
<div>
    Android (lambda): @Html.Translate(() => ResolutionResources.AndroidVertical)
</div>
<div>
    Android (stringly): @Html.Translate("/resolutions/androidvertical")
</div>
<div>
    HelpText for Model.Address.Street: [@Html.TranslateFor(m => Model.Address.Street, typeof(HelpTextAttribute))]<br/>
    HelpText for Model.Address.PostalCodeFromBase: [@Html.TranslateFor(m => Model.Address.PostalCodeFromBase, typeof(HelpTextAttribute))]
</div>
</body>
</html>