<?xml version="1.0" encoding="utf-8"?>
<module>
  <assemblies>
    <add assembly="DbLocalizationProvider.AdminUI" />
  </assemblies>
  <!--<routes>
    <route>
      <defaults>
        <add key="moduleArea" value="DbLocalizationProvider.AdminUI" />
        <add key="controller" value="LocalizationResources" />
        <add key="action" value="Index" />
        <add key="id" value="" />
      </defaults>
    </route>
  </routes>-->
</module>