<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.1.2" requireReinstallation="true" />
  <package id="LocalizationProvider" version="4.1.1" targetFramework="net461" />
  <package id="LocalizationProvider.Abstractions" version="4.1.1" targetFramework="net461" />
  <package id="Microsoft.Net.Compilers" version="2.1.0" targetFramework="net45" developmentDependency="true" />
  <package id="NDesk.Options" version="0.2.1" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="System.ComponentModel.Annotations" version="4.4.0" targetFramework="net461" />
</packages>