App_Data/
node_modules/
artifacts/

# Visual Studio files
*.user
*.lock.json
.vscode/
.vs/
.nuget/
packages/
bin/
obj/

# Optimizely files
*license.config
modules/

# OS crap
.DS_Store
thumbs.db
ehthumbs.db
desktop.ini

# Jetbrains IDE
.idea/
