@charset "utf-8";
/* CSS Document */



@media (max-width: 979px) { 
.span12, .span8, .span6, .span4 {
        float: none;
        width: auto !important;
    }

.span4 h2, .span6 h2 
{
    clear:both;    
    }

.teaserblock.full h2, .teaserblock.wide h2 {
    font-size: 2.5em;
}

.subHeader 
{
    width:100% !important;
    font-weight:normal !important;    
    }
    
.jumbotronblock .span4 
{
    display:none;    
    }
    
.media .mediaImg img
{
    width:75%;}


.hideMyTracks {display:none;}
    
}



@media (max-width: 834px) {

.teaserblock.full h2, .teaserblock.wide h2 {
    clear:both;
}

.teaserblock.full h2, .teaserblock.wide h2, .teaserblock.full p, .teaserblock.wide p {
    text-align:center;
}

.teaserblock.full img, .teaserblock.wide img {
    width:75%;
}

#header .span2
{
    float:left;  
    width:20% !important;
    }   

#header .span10
{
    float:right;  
    }
    
.span12 .media .mediaText, .span8 .media .mediaText 
{
    clear:both;
    margin:0 2% 5px;
    }   

}

@media (max-width: 767px) {

h1 
{
    font-size:35px !important;   
    }
    
h2 
{
    font-size:20px !important;   
    }    
    
.introduction {
	font-size:1.2em !important;
	margin:2% 0 4% 0;		
	}

.alloyMenu .navbar .nav>li>a {
	color:#323335;
	padding-bottom:12px;
	line-height:23px;
	text-shadow:none !important;
	outline:none;
	}	
	
.alloyMenu .navbar .nav>li>ul>li a:hover {
	outline:1px solid;
	background:#2980bd;
	}		


.span3 {
	width:100% !important;

	}
	
.teaserblock img {
        width:75%;
    }

.btn-blue {
	margin-right:1%;
	float:left;
	clear:none;
	}	
	
.searchButton {
	float:right;
	margin-top:7px !important;
	}	

.alloyMenu .navbar-search .search-query 
{
    max-width:70%;    
    }

    
#header .span2
{
    float:left;  
    width:20% !important;
    }   

#header .span10
{
    float:right;  
    } 
	    	
}
		
