<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.2.1" targetFramework="net461" />
  <package id="Castle.Windsor" version="4.1.0" targetFramework="net461" />
  <package id="EntityFramework" version="6.1.2" targetFramework="net46" />
  <package id="EPiServer.CMS" version="11.1.0" targetFramework="net461" />
  <package id="EPiServer.CMS.AspNet" version="11.1.0" targetFramework="net461" />
  <package id="EPiServer.CMS.Core" version="11.1.0" targetFramework="net461" />
  <package id="EPiServer.CMS.TinyMce" version="1.0.0" targetFramework="net461" />
  <package id="EPiServer.CMS.UI" version="11.1.0" targetFramework="net461" />
  <package id="EPiServer.CMS.UI.Core" version="11.1.0" targetFramework="net461" />
  <package id="EPiServer.Framework" version="11.1.0" targetFramework="net461" />
  <package id="EPiServer.Framework.AspNet" version="11.1.0" targetFramework="net461" />
  <package id="EPiServer.Logging.Log4Net" version="2.2.0" targetFramework="net461" />
  <package id="EPiServer.Packaging" version="3.4.0" targetFramework="net461" />
  <package id="EPiServer.Packaging.UI" version="3.3.0" targetFramework="net46" />
  <package id="EPiServer.ServiceLocation.StructureMap" version="1.0.0" targetFramework="net461" />
  <package id="LocalizationProvider" version="4.1.0" targetFramework="net461" />
  <package id="LocalizationProvider.Abstractions" version="4.1.0" targetFramework="net461" />
  <package id="log4net" version="2.0.8" targetFramework="net461" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.Providers.Core" version="2.0.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.Net.Compilers" version="2.1.0" targetFramework="net46" developmentDependency="true" />
  <package id="Microsoft.Tpl.Dataflow" version="4.5.24" targetFramework="net461" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="NuGet.Core" version="2.5.0" targetFramework="net452" />
  <package id="Owin" version="1.0" targetFramework="net46" />
  <package id="System.ComponentModel.Annotations" version="4.4.0" targetFramework="net461" />
  <package id="System.Data.SqlClient" version="4.4.0" targetFramework="net461" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.AccessControl" version="4.4.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Xml" version="4.4.0" targetFramework="net461" />
  <package id="System.Security.Permissions" version="4.4.0" targetFramework="net461" />
  <package id="System.Security.Principal.Windows" version="4.4.0" targetFramework="net461" />
  <package id="System.Threading.AccessControl" version="4.4.0" targetFramework="net461" />
  <package id="structuremap.web-signed" version="3.1.6.191" targetFramework="net461" />
  <package id="structuremap-signed" version="3.1.9.463" targetFramework="net461" />
</packages>