<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net452" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net452" />
  <package id="DbLocalizationProvider.EPiServer" version="2.0.1" targetFramework="net46" />
  <package id="EntityFramework" version="6.1.2" targetFramework="net46" />
  <package id="EPiServer.CMS" version="9.12.2" targetFramework="net46" />
  <package id="EPiServer.CMS.Core" version="9.12.2" targetFramework="net46" />
  <package id="EPiServer.CMS.UI" version="9.9.1" targetFramework="net46" />
  <package id="EPiServer.CMS.UI.Core" version="9.9.1" targetFramework="net46" />
  <package id="EPiServer.Framework" version="9.12.2" targetFramework="net46" />
  <package id="EPiServer.Logging.Log4Net" version="2.0.0" targetFramework="net452" />
  <package id="EPiServer.Packaging" version="3.2.4" targetFramework="net46" />
  <package id="EPiServer.Packaging.UI" version="3.2.4" targetFramework="net46" />
  <package id="LocalizationProvider" version="2.0.4" targetFramework="net46" />
  <package id="log4net" version="2.0.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.Providers.Core" version="2.0.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net452" />
  <package id="NuGet.Core" version="2.5.0" targetFramework="net452" />
  <package id="Owin" version="1.0" targetFramework="net46" />
  <package id="structuremap.web-signed" version="3.1.6.186" targetFramework="net452" />
  <package id="structuremap-signed" version="3.1.6.186" targetFramework="net452" />
</packages>