@model IPageViewModel<SitePageData>

@{
    Layout = "~/Views/Shared/Layouts/_Root.cshtml";
}

@{await Html.RenderPartialAsync("Breadcrumbs");}

<div class="row">
    <div class="col-12 col-md-8 col-lg-9">
        @RenderBody()
    </div>

    <div class="col-12 col-md-4 col-lg-3 aside">
        @if (IsSectionDefined("RelatedContent"))
        {
            @RenderSection("RelatedContent")
        }
        else if (Model.CurrentPage is IHasRelatedContent)
        {
            @Html.PropertyFor(x => ((IHasRelatedContent)x.CurrentPage).RelatedContentArea, new { Aside = true })
        }
    </div>
</div>
